/*
 Copyright (c) 2010 Brian Silverman, Barry Silverman, Ed Spittles

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in
 all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 THE SOFTWARE.
*/

body {
 background: white;
 color: black;
 font-family :Verdana, Arial, Helvetica, Sans-Serif;
 font-size: 12px;
}

#title {
 font-size: 30px;
 font-weight: bold;
}

div.frame {
 margin-left: 10px;
 min-width: 1120px;  /* ugh - prevent memtable flowing underneath chip */
}

div.leftcolumn {
 width: 804px;       /* ugh - matches the div.chip width + border */
}

div.rightcolumn {
 padding-left: 8px;
}

div.footer {
 clear: both;
 padding-top: 10px;
}

div.nochip {
 display:none;
}

div#chipsurround {
 height: 600px;      /* matches the div.chip height */
}

div.chip {
 background: lightgray;
 border: 2px solid gray;
 position: absolute; /* must be absolute to contain the canvas */
 width: 800px;
 height: 600px;
 overflow: hidden;
}

canvas.chip {
 position: absolute;
 width: 600px;       /* square chip image same height as div.chip */
 height: 600px;      /* square */
 /*Only style change made by Cole Johnson*/
 /*Anti-blur settings, from https://itch.io/jam/lowrezjam2016/topic/19730/solved-html5-canvas-scaling-nearest-neighbor-no-blur*/
 image-rendering: optimizeSpeed;             /* Older versions of FF          */
 image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
 image-rendering: -webkit-optimize-contrast; /* Safari                        */
 image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
 image-rendering: pixelated;                 /* Awesome future-browsers       */
 -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
}

div.twobuttons{
 float:left;
}

div.morebuttons{
 float:left;
}

div.buttons{
 /* top: -5px; */
}

div.status {
 clear: left;
 padding-top: 10px;
 padding-bottom: 10px;
 font-family: monospace;
 font-size: 12px;
}

img.navbutton {
 border: 0px;
}

img.navplay {
 margin-right: 5px;
 border: 0px;
}

img.navstop {
 position: absolute;
 border: 0px;
}

span.expertcheckbox {
 margin-left: 20px;
}

table.memtable {
 font-family: monospace;
 font-size: 12px;
 border-spacing: 0px;
 overflow: auto;
}

div#layoutControlPanel{
 display:none;
 margin-top: 2px;
 margin-bottom: 2px;
}

div#expertControlPanel{
 display:none;
}

span.animatebox{
 border:thin solid;
 padding:2px;
 border-color:gray;
}

a#linkHere{
 padding:2px;
}

textarea#consolebox{
 font-family:courier,monospace;
 border: 1px solid gray;
 margin: 2px;
 padding: 2px;
 width: 80em;
}

div#logstreamscroller{
 overflow:auto;
}

table.logstream {
 font-family: monospace;
 font-size: 12px;
 border-collapse: collapse;
 text-align:center;
}

td {
 padding-left: 3px;
 padding-right: 3px;
}

td.header {
 background-color: rgb(187, 204, 255);  /* medium-dark blue */
}

td.oddcol {
 background-color: rgb(227, 233, 255);  /* light blue */
}

td.oddrow {
 background-color: rgb(207, 218, 255);  /* medium blue */
}

td.oddrowcol {
 background-color: rgb(227, 233, 255);  /* light blue */
}

/* Splitter */
#frame {
 height: 750px;
}

div.leftcolumn, div.rightcolumn, {
 overflow: auto;
}

div#righttopdiv, div#tracingdiv {
 overflow: auto;
 background-color: white;
}

div.rightcolumn {
 background-color: white;
}

.vsplitbar {
 width: 5px;
 background: #aaa;
}

.vsplitbar {
 width: 6px;
 background: #669 url(3rdparty/img/vgrabber.gif) no-repeat center;
}

.vsplitbar:hover, .vsplitbar.active {
 background: #c66 url(3rdparty/img/vgrabber.gif) no-repeat center;
 opacity: 0.7;
 filter: alpha(opacity=70); /* IE */
 background: #c99;
}

.hsplitbar {
 height: 6px;
 background: #669 url(3rdparty/img/hgrabber.gif) no-repeat center;
}

.hsplitbar.active, .hsplitbar:hover {
 background: #c66 url(3rdparty/img/hgrabber.gif) no-repeat center;
}

span#plain {
 display: block;
 margin-bottom: 4px;
}
